<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "includes/logo_data_uri.html" %}
    <link rel="icon" type="image/png" href="{{ oden_logo_uri }}">
    <title>{% block title %}Oden{% endblock %}</title>
    <style>
        {% include "css/base.css" %}
        {% block extra_css %}{% endblock %}
    </style>
</head>
<body>
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
